<%= render "shared/header" %>

<div class="jumbotron">
  <h1 class="display-4">OIEM SYSTEM</h1>
  <p class="lead">商品仕入れ先管理、発注履歴と海外仕入れ商品のインボイス履歴を簡単にできます</p>
  <hr class="my-4">
  <p>ご利用には会員登録をしてください</p>
  <%= link_to '新規登録', new_user_registration_path, class:"btn btn-primary btn-lg" %>
</div>

